<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name">Name</label>
        <input type="text"name='name'><br>
        <label for="photo">Profile Picture</label>
        <input type="file"name='photo'><br>
        <label for="cv">Upload CV</label>
        <input type="file"name='cv'><br>
        <button type="submit">Upload</button>
    </form>
</body>
</html>