<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>Student Details</thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Age</th>
            <th>Registration Number</th>
        </tr>
        {% for data in std_data %}
        <tr>
            <td>{{data.firstName}}</td>
            <td>{{data.secondName}}</td>
            <td>{{data.email}}</td>
            <td>{{data.age}}</td>
            <td>{{data.regNo}}</td>
            <td><a href="{% url 'updatestd' data.pk %}">update</a>
                <a href="{% url 'deletestd' data.pk %}">delete</a>
            </td>

        </tr>
        {% endfor %}

    </table>
</body>
</html>